body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

h1 {
    text-align: center;
    padding: 10px;
}

#auth_forms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

legend {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    width: 500px;
}

button {
    padding: 5px 20px;
}

#chat_body {
    position: relative;
    display: flex;
    height: 100vh;
}

#contacts--list__container {
    /* max-width: 28%; */
    min-width: 350px;
    border: 1px solid black;
    background-color: #131c21;
}
#contacts--list {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.contact {
    height: 70px;
    width: 100%;
    padding: 10px 0 0 10px;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    transition: all 0.2s ease-in;
}
.contact:hover {
    background-color: black;
}
.contact .contact__profile {
    /* flex: 2; */
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    font-style: none;
}
.contact h1 {
    /* padding: 0; */
    /* padding-left: 10px; */
    margin: 0;
    color: white;
    text-align: left;
}
.contact .contact--body {
    flex: 4;
    width: 100%;
}
.contact .contact--body .contact--body__name h1 {
    color: white;
    font-size: 20px;
}

#chat__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    border: 2px solid black;
}
.signout__btn {
    transition: all 0.5s ease-in;
}
.signout__btn:hover {
    background-color: rgb(122, 118, 118);
}
.active__status {
    margin-left: 20px;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
}
.active__status.green {
    background-color: green;
}
/* 
/* --------------- Chat Box ---------------------- */
/* .blog {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
} */
.alink {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

/* container */
.container {
    z-index: 1;
    background-color: #181f22;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    flex: 1;
}

/* chat_box */
.chat_box {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}
.chat_box > * {
    padding: 16px;
}

/* head */
.head {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 20px;
    background-color: #2a2f32;
    color: white;
}
.head .user {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.head .user .avatar {
    margin-right: 8px;
}
.head .user .avatar img {
    display: block;
    border-radius: 50%;
}
.head .bar_tool {
    display: flex;
    list-style: none;
}
.head .bar_tool i {
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* body */
.body {
    flex-grow: 1;
    background-color: #181f22;
}
.body .bubble {
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 15px;
}
.body .bubble p {
    color: #dddddf;
    font-size: 14px;
    text-align: left;
    line-height: 1.4;
}
.body .incoming {
    text-align: left;
}
.body .incoming .bubble {
    background-color: #262d31;
}
.body .outgoing {
    text-align: right;
}
.body .outgoing .bubble {
    background-color: #056162;
}

/* foot */
.foot {
    box-shadow: 0px 0px 8px 1px #0000007a;
    background-color: #1e2428;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    color: white;
    font-size: 2rem;
}
.foot .icon {
    background-color: transparent;
    height: 100%;
    width: 60px;
    color: white;
    /* font-weight: 100; */
    margin-left: 20px;
}
.foot form {
    flex-grow: 1;
    height: 100%;
    display: flex;
    background-color: transparent;
}
.foot button {
    border: none;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    background-color: transparent;
    color: white;
    font-size: 2rem;
}
.foot .msg {
    flex-grow: 1;
    height: 100%;
    outline: none;
    border: none;
    padding: 0 10px 0 10px;
    margin: 0;
    border-radius: 16px;
    background-color: #33383b;
    color: white;
    font-size: 1rem;
}

@keyframes bounce {
    50% {
        transform: translate(0, 5px);
    }
    100% {
        transform: translate(0, 0);
    }
}
.ellipsis {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #b7b7b7;
}
.dot_1 {
    /* animation: name duration timing-function delay iteration-count */
    animation: bounce 0.8s linear 0.1s infinite;
}
.dot_2 {
    animation: bounce 0.8s linear 0.2s infinite;
}
.dot_3 {
    animation: bounce 0.8s linear 0.3s infinite;
}

.status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}
.blue {
    background-color: blue;
}
